{% extends 'index.html' %}
{% load static %}
{% block title %}<title>singup</title>
<link rel="stylesheet" href="{% static 'css/singin.css' %}">

{% endblock %}
  {% block body %}

  <section>

    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
    <span class="span"></span>
  <div class="signin signup">
    <div class="content">
  <div class="form">
    <center>
      <h2>Sign Up</h2>
    </center>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="inputBox">
      <input type="text" name="first_name" required="required" />
      <span>first name </span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="text" name="last_name" required="required" />
      <span>last name </span>
      <i></i>
    </div>
    <div class="inputBox">
        <input type="text"name="username" required="required" />
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox">
        <input type="email"name="email" required="required" />
        <span>email</span>
        <i></i>
      </div> 
    <div class="inputBox">
      <input type="password"name="password1" required="required" />
      <span>Password</span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="password"name="password2" required="required" />
      <span>Password</span>
      <i></i>
    </div>
    <div class="inputBox">
      <input type="tel"name="phone_number" required="required" />
      <span>phone number</span>
      <i></i>
    </div>

    <div class="links">
      <a href="{% url 'singin' %}">Signin</a>
    </div>
    <div class="inputBox">
      <input type="submit" value="Login">
    </div> 
    </form>
   </div>
</div>
</div>
</section>

{% endblock body %}

  
</body>
</html>
