{% extends 'index.html' %}
{% load static %}
{% block title %}<title>{{user.username}}</title>
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

{% endblock %}



{% block body %}
<section>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <div class="user_profile">
    <div class="content">
      <div class="user_full_name">
        <div class="img_user_name">
          <div class="background_img_user">
            <img src="{{user.userprofile.profile_picture_background.url}}" alt="" class="background_img">
            <div class="imag_user">
              <img src="{{user.userprofile.profile_picture.url}}" alt="" class="img_fluid">
            </div>
          </div>
          <div class="user_inf_name">
            <div class="user_name">
              <label for="">User name: </label>
              <h2>{{user.username}}</h2>
            </div>
            <div class="first_name_user">
              <label for="">First name: </label>
              <h2>{{ user.first_name }}</h2>
            </div>
            <div class="list_name_user">
              <label for="">Last name: </label>
              <h2>{{user.last_name}}</h2>
            </div>
            <div class="phone_user">
              <label for="">Phone numper: </label>
              <h2>{{user.userprofile.phone_number}}</h2>
            </div>
            <div class="email_user">
              <label for="">Email: </label>
              <h2>{{user.email}}</h2>
            </div><li-icon></li-icon>
            <div class="inputBox">
              {% url 'edit_profile' as editProfileUrl %}
              <input type="button" value="edit profile" onclick="window.location.href = '{{ editProfileUrl }}'"> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock body %}


</body>

</html>