{% extends 'index.html' %}
{% load static %}
{% block title %}<title>{{user.username}}</title>
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

{% endblock %}



{% block body %}
<section>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <div class="user_profile">
    <div class="content">
      <div class="user_full_name">
        <div class="img_user_name">
          <div class="background_img_user"
            style="background-image:url('{{ user.userprofile.profile_picture_background.url }}');">
            <div class="imag_user">
              <img src="{{ user.userprofile.profile_picture.url }}" alt="img_user" class="img_fluid" />
            </div>
          </div>
          <div class="user_name">
            <label for="">User name: </label>
            <h2>{{user.username}}</h2>
          </div><br>
          <div class="user_inf_name">
            <div class="first_name_user">
              <label for="">First name: </label>
              <h2>{{ user.first_name }}</h2>
            </div>
            <div class="list_name_user">
              <label for="">Last name: </label>
              <h2>{{user.last_name}}</h2>
            </div>
            <div class="phone_user">
              <label for="">Phone numper:  </label>
              <h2>{{user.userprofile.phone_number}}</h2>
            </div>
            <div class="email_user">
              <label for="">Email: </label>
              <h3>{{user.email}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% endblock body %}


</body>

</html>