{% extends 'index.html' %}
{% load static %}
{% block title %}<title>singup</title>
<link rel="stylesheet" href="{% static 'css/cryptography.css' %}">

{% endblock %}
{% block body %}

<section>

  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <div class="cryptography">
    <div class="content">
      <div class="form">
        <center>
          <h2>Cryptography</h2>
        </center>
        <form  method="post">
          {% csrf_token %}
          <div class="fiestChois">
            <div class="inputRadio">
              <label for="encryption">encryption </label>
              <input class="type_crepto" id="encryption" type="radio" checked name="type_crepto" value="encryption" />
            </div>
            <div class="inputRadio">
              <label for="decryption">decryption </label>
              <input class="type_crepto" id="decryption" type="radio" name="type_crepto" value="decryption" />
            </div>
          </div>
          <div class="secandChois">
            <div class="inputRadio">
              <label for="caesar "> caesar </label>
              <input class="cipher_Type" id="caesar" type="radio" checked name="cipher_Type" value="caesar"  />
            </div>
            {% comment %} <div class="inputRadio">
              <label for="alpha_betic">alpha betic </label>
              <input class="cipher_Type" id="alpha_betic" type="radio" name="cipher_Type" value="alpha_betic" />
            </div> {% endcomment %}
            <div class="inputRadio">
              <label for="vigener">vigener </label>
              <input class="cipher_Type" id="vigener" type="radio" name="cipher_Type" value="vigener" />
            </div>
            <div class="inputRadio">
              <label for="beliver">beliver </label>
              <input class="cipher_Type" id="beliver" type="radio" name="cipher_Type" value="beliver" />
            </div>
          </div>
          <div class="inputKeyText">
            <div class="inputBox">
              <input type="text" name="text" required>
              <span>text</span>
              <i></i>
            </div>
            <div class="inputBox">
              <input type="text" name="key" required>
              <span>key</span>
              <i></i>
            </div>
          </div>
          <div class="inputBox">
            <input type="submit" value="Next">
          </div>
        </form>




      
      
      </div>
      
{% comment %} 
      <div class="output">
        <div class="h2_type_crepto">
          <h2></h2>
        </div>
        <div class="out">
          <p></p>
        </div>
      </div>
 {% endcomment %}

      
    
    
    </div>
  </div>
</section>

{% endblock body %}


</body>

</html>