{% extends 'index.html' %}
{% load static %}
{% block title %}<title>singup</title>
<link rel="stylesheet" href="{% static 'css/cryptography.css' %}">

{% endblock %}
{% block body %}

<section>

  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <span class="span"></span>
  <div class="cryptography">
    <div class="content">
      <div class="form">
        <center>
          <h2>Cryptography</h2>
        </center>
        <div  method="post">
            <div class="output">
                <div class="h2_type_crepto">
                  {% comment %} <h2>{{type_crepto}}</h2> {% endcomment %}
                </div>
                <div class="out">
                  {% comment %} <p>{{text}}</p> {% endcomment %}
                </div>
        </div>




      
      
      </div>



      </div>
    
    
    </div>
  </div>
</section>

{% endblock body %}


</body>

</html>

























