@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Quicksand", sans-serif;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #000;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #fff, #000);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section .span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section .span:hover {
  background: #fff;
  transition: 0s;
}
.cryptography {
  position: relative;
  width: 600px;
  height: 85vh;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.cryptography::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 85vh;
  background: linear-gradient(0deg, transparent, #fff, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.cryptography::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 600px;
  height: 85vh;
  background: linear-gradient(0deg, transparent, #fff, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}
.form h2 {
  color: #fff;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.1em;
}
.inputBox {
  position: relative;
  width: 50%;
  margin: 4% 2% ;
}
.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
  color: #181818;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 0px 10px;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #fff;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}
.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  transition: 0.5s;

  pointer-events: none;
  z-index: 9;
}
.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 44px;
}
.links {
  display: flex;
  justify-content: space-between;
}
.links a {
  margin: 30px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}
.links a:hover {
  color: #fff;
}
input[type="submit"] {
  border: 1px solid #fff;
  outline: none;
  background: transparent;
  color: #fff;
  padding: 11px 25px;
  width: 100px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
button[type="submit"]:hover {
  background: #fff;
  color: #fff;
}
button[type="submit"]:active {
  opacity: 0.8;
}

section .cryptography {
  position: absolute;
  width: 600px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}
section .cryptography .content {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 900px) {
  section .span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section .span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
.ferstChois,
.secandChois {
  display: flex;
  margin: 2% 4%;
  width: 100%;
}
.ferstChois .inputRadio {
  padding: 2% 2%;
  display: flex;
  width: 50%;
  color: #fff;
}
.secandChois .inputRadio {
  padding: 2% 2%;
  display: flex;
  width: 100%;
  color: #fff;
}
.ferstChois .inputRadio .type_crepto {
  margin: 0 5%;
  color: #000;
}
.secandChois .inputRadio .cipher_Type {
  margin: 0 5%;
  color: #000;
}
.h4_type_crept {
  margin: 2% 40%;
}
.inputKeyText {
  display: flex;
  width: 100%;
}
.output {
  color: #fff;
  width: 80%;
  padding: 3%;
  margin: 0 5% 3% 5%;
  border: dashed #fff 1px;
  border-radius: 35px;
}
.h2_type_crepto {
  margin: 0 40%;
}
.js-code-copy {
  top: 6px;
  inset-inline-end: 6px;
  margin: 0px;
  background: var(--cib-color-background-surface-solid-tertiary);
  color: var(--cib-color-foreground-neutral-primary);
  fill: var(--cib-color-foreground-neutral-primary);
  width: 35px;
  height: 35px;

  float: right;
  margin: 0 0% 3% 3%;
  border-radius: var(--cib-border-radius-medium);
  border: 1px solid #000;
}


.js-code-copy:hover {
  background-color: #fff;
  border-radius: 35px;
}
.out {
  background-color: #323232;
  overflow-y: auto;
  max-height: 50vh;
  margin: 3% 4%;
  padding: 2% 2%;
  border-radius: 35px;
}
.out p {
  margin: 1%;
  overflow-wrap: break-word;
  width: 95%;
  padding: 1%;
}