/* مساحة اليويمات من الصفحة */
.block_dair{
    display: block;   
    z-index: 1;
    flex-wrap: wrap;
}
.scroll_left{
    float: left;
    height: 130px;
    top:0;
    left: 0;
}
.scroll_right{
    float: right;
    height: 130px;    
    top:0;
    right: 0;
}
.scroll_left_button {
    height: 100%;
    background-color: #000;
    border: 0;    width: 25px;

}
.scroll_right_button {
    height: 100%;
    background-color: #000;
    border: 0;    width: 25px;

}
.scroll_left_button:hover ,.scroll_right_button:hover{
    background-color: #686565;
    width: 35px;
    color :#000;
}
.scroll_left_button:hover{
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
}
.scroll_right_button:hover{
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
}
.button_imo{
    font-size: xx-large;
}
/*مساحة اضافة يويمات للمستخدم*/


.dair_spase{
    height: 140px;
    overflow: scroll;   
    white-space: nowrap; 
    /* overflow: hidden; */
    scrollbar-color: #000 #000 ;
    border: 0;
}
.dair_spase:hover{
    scrollbar-color: #fff #fff;
}
.dair_user{
    position: relative;
    display: inline-block;
}
.dair_user_profile{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 10px;
}
.html_emojis_add{
    position: absolute;
    font-size: xx-large;
    z-index: 1;color: green ;
    bottom: 0;
    left: 0px;
    margin: 20px;
    border-radius: 50%;
}
.open_modal_img_dair{
    border: 0;
}



/* تحديد لون شريط التمرير ولون الخلفية */

/*لي قائمة اضافة اليوميات */
.data_entry_modal {
    z-index: 3;
    display: none;
    position: fixed;
    top: 0; border: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal_content_input_img_dair {
    background-color: red;
    max-width: 50%;
    margin: 10% 25% 0 25%;
    /* padding: 20px; */
    height: auto;
    height: 300px;
    border-radius: 5px;
    position: relative;
}


.close_modal_img_dair {
    background-color: #fff;
    max-width: 400px;
    /* margin: 0 0 0 93.3%; */
    color: #000;
    padding: 0 1%;
    right: 0;
    /* border-radius: 5px; */
    position: absolute;
    /* width: 5%; */
    font-size: x-large;
    display: inline-block;
    cursor: pointer;
    display: inline-bloc
}
.close_modal_img_dair:hover{
    background-color: #000;
    color:#fff;
}

/* .dair_img_file{
    background-color: #000;
} */





/* عرض ال يوميات  */
.modal_views_dair_img{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin:  0;
    background-color:rgba(0, 0, 0, 0.7);

}
.views_dair_img{
    margin: 0 25%;
    width: 50%;
    background-color:#181818;
    height: 100%;
}
.close_img_dair{
    margin: 10px 95%;
    padding: 0 10px;
    background-color:#fff;
    color:#000;
    font-size: x-large;

}
.close_img_dair:hover{
    background-color: #000;
    color:#fff;
}
.modal_image_dair {
    width: 90%;
    margin: 0 5%;
  } 
  @keyframes moveBar {
    0% { width: 0%; } /* العرض في البداية هو صفر */
    100% { width: 90%; } /* العرض في النهاية هو 100% */
  }
  .bar {
    width: 0%;
    height: 10px; /* ارتفاع الشريط */
    background-color: #fff; /* لون الشريط */
    animation-name: moveBar;
    animation-duration: 30s; /* مدة الشريط 30 ثانية */
    animation-timing-function: linear; /* السرعة ثابتة على طول المدة */
    animation-fill-mode: forwards; /* يبقى الشريط في الحالة النهائية بعد الانتهاء */
    margin: 1% 5%;
}




::-webkit-scrollbar {
    width: 0px;
    /* تغيير عرض شريط التمرير حسب الحاجة */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #000;     border: 0;
    /* تغيير لون شريط التمرير */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000;     border: 0;
    /* تغيير لون الخلفية */
  }
  :-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }