.form_send_msg{
    background-color: #343a40;
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 5vh;
    width: 70%;
}
.send_msg{
    float: right;
    width: 100%;
}
.image{
    width: 35%;
    height: 4vh;
    color: white;
    margin-left: 0.5%;
}
.text_msg {
    width: 50%;
    height: 4vh;
}
.input_sub  {
    height: 4vh;
    left: 0px;
    margin-left: 0.5%;
    width: 10%;
    color: #fff;
    background-color: #28292d;
    border: 1px solid #fff;
}
@media (max-width: 600px) {
    .form_send_msg{
        width: 100%;
    }
    .input_sub  {
        height: 4vh;
        left: 0px;
        margin-left: 0.5%;
        width: 10%;
    }
    .text_msg {
        width:55%;
        height: 4vh;
        margin: 0 0.5%;
    }
    .image{
        width: 30%;
        height: 4vh;
        color: white;
        margin-left: 0.5%;
    }
}
@media (max-width: 450px) {
    .form_send_msg{
        width: 100%;
    }
    .input_sub  {
        height: 4vh;
        left: 0px;
        margin-left: 0.5%;
        width: 10%;
    }
    .text_msg {
        width: 50%;
        height: 4vh;
        margin: 0 0.5%;
    }
    .image{
        width: 25%;
        height: 4vh;
        color: white;
        margin-left: 0.5%;
    }
}