.spase_chat{
    width: 70%;
    height: 89%;
    background-color:  #343a4a;
    background-repeat: no-repeat;
    background-size: 70.42%;
    float: right;
    position: absolute ;
    overflow-y: scroll ; 
    right: 0px;
    flex-direction: column;
    display: flex;
    overflow-x: hidden;
    color: black;
}
.msg{
    background-color: brown;
}
.chat_info1 {
    width: 100%;
    float: right;
}
.chat_sbase1 {
    width: 45%;
    background: rgba(255,255,255,0.5);
    margin: 1% 4% 1% 0%;
    padding: 3% 0;
    border-radius: 28px 28px 0 28px ;
    float: right;
  }
.chat_polder1{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    background-color:  white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    float: right;
    width: 90%;
    margin-right: 5% ;
}
.user_name1{
    margin: 1% 4% 1% 0%;
    text-align: right;
    padding: 3% 0;
}
.user_name1 label{
    background-color: #fff;
    padding: 1% 6%;
    border-radius: 14px 14px 0 14px;
}
.chat_text1{
    margin: 0 3%;
    text-align: right;

}
.date_msg1{
    font-size: 12px;
    margin: 0 3%;
    text-align: right;

}
.chat_info2 {
    width: 100%;
    float: left;
}
.chat_sbase2 {
    width: 45%;
    background: rgba(255,255,255,0.5);
    margin: 1% 0 1% 4%;
    padding: 3% 0;
    border-radius: 28px 28px 28px 0;
  }
.chat_polder2{
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    background-color:  white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 90%;
    margin-left: 5% ;
}
.user_name2{
    margin: 1% 0 1% 4%;
    text-align: left;
    padding: 3% 0;
}
.user_name2 label{
    background-color: #fff;
    padding: 1% 6%;
    border-radius: 14px 14px 14px 0;
}
.chat_text1{
    margin: 0 3%;
    text-align: right;

}
.chat_text2{
    margin: 0 3%;
    text-align: left;
    
}
.date_msg2{
    font-size: 12px;
    margin: 0 3%;
    text-align: left;

}
.div_image img,.div_video video{
    width: 100%;
    margin : 1% 0px;
    border-radius: 13px;
}
.div_image_si,.div_video_si{
    margin: 1%;
}

@media (max-width: 600px) {
    .spase_chat{
        width: 100%;
    }
}
