.nav {
    height: 6.4vh;
    background-color: #333;
    text-align: center;
}
.nav_list {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
}
.nav_list_par {
    float: left;
    margin: 0 2%;
}
.nav_liks{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}
.nav_liks:hover {
    background-color: #fff;
    color: #000;
}
@media (max-width: 850px) {

    .nav {
        height:auto;
        background-color: #333;
        text-align: center;
    }
    .nav_list {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav_list_par {
        float: left;
        width: 50%;
        margin: 0;
    }
    .nav_liks {
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

}
@media (max-width: 425px) {
    .nav {
        background-color: #333;
        text-align: center;
    }
    .nav_list {
        list-style-type: none;
        overflow: hidden;
        background-color: #333;
        text-align: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .nav_list_par {
        float: left;
        width: 100%;
    }
    .nav_liks{
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}