@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Quicksand", sans-serif;
}
body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: #000;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #fff, #000);
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section .span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
}
section .span:hover {
  background: #fff;
  transition: 0s;
}

.password_done_sen_maile {
  height: 280px;
  position: relative;
  width: 380px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.password_done_sen_maile::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 280px;
  background: linear-gradient(0deg, transparent, #fff, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.password_done_sen_maile::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 280px;
  background: linear-gradient(0deg, transparent, #fff, #fff);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.text {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}
.text h2 {
  color: #fff;
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.1em;
}

section .password_done_sen_maile {
  position: absolute;
  width: 400px;
  background: #222;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}
section .password_done_sen_maile .content {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .password_done_sen_maile .content .palgraf{
    color: #fff;
    font-size: 16pt;
    
}
section .password_done_sen_maile .content .palgraf p{
    margin: 3%;
    padding: 1%;
    
}
.links {
    justify-content: space-between;
    border: #fff;
  }
  .links a {
    margin: 30px 0;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
  }
  .links a:hover {
    color: #000;
    
  }

  button{
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    padding: 11px 25px;
    width: 100px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  button[type="button"]:hover .links a:hover{
    background: #fff;
    color: #000;
  }
  button[type="button"]:active {
    opacity: 0.8;
  }
  
@media (max-width: 900px) {
  section .span {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px) {
  section .span {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
