{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}<title>msg</title>
<link rel="stylesheet" href="{% static 'css/inputmsg.css' %}">
<link rel="stylesheet" href="{% static 'css/msg.css' %}">
<link rel="stylesheet" href="{% static 'css/pepol.css' %}"> 

{% if  request.path == '/msg/' %}
<link rel="stylesheet" href="{% static 'css/start_page.css' %}"> 
{% endif %}




{% endblock %}

    <body>
        
        {% block body %}
        {% csrf_token %}
        <div class="spase_scren">
{% include "includes/pepol.html" %}
{% include "includes/start_page.html"  %}
        {% if width > 600 %}
            {% if  request.path != '/msg/' %}
                {% comment %} 
                {% include "includes/start_page.html"  %}
            {% else %}
             {% endcomment %}
                {% include "includes/msg.html" %}
                {% include "includes/inputmsg.html" %}
            {% endif %}
        {% else %}
            {% if  request.path == '/msg/' %}
                {% include "includes/pepol.html" %} 
            {% else %}
                {% include "includes/msg.html" %}
                {% include "includes/inputmsg.html" %}
            {% endif %}

            
        {% endif %}




        </div>
        {% endblock body %}
    </body>
