{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}<title>msg</title>
<link rel="stylesheet" href="{% static 'css/inputmsg.css' %}">
<link rel="stylesheet" href="{% static 'css/msg.css' %}">
<link rel="stylesheet" href="{% static 'css/pepol.css' %}"> 

{% if  request.path == '/msg/' %}
<link rel="stylesheet" href="{% static 'css/start_page.css' %}"> 
{% endif %}




{% endblock %}

<body>
    {% block body %}
        {% csrf_token %}
        {% with request_path=request.path %}
            {% if request.user.is_authenticated %}
                <div class="spase_scren">
                    {% include "includes/start_page.html"  %}
                    {% include "includes/pepol.html" %}
                    {% if width > 820px %}
                        {% if request_path != '/msg/' %}
                            {% include "includes/msg.html" %}
                            {% include "includes/inputmsg.html" %}
                        {% endif %}
                    {% else %}
                        {% if request_path == '/msg/' %}
                            {% include "includes/pepol.html" %}
                        {% else %}
                            {% include "includes/msg.html" %}
                            {% include "includes/inputmsg.html" %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
    {% endblock body %}
</body>