{% load static %}

<div class="block_dair">
    <div class="scroll_left">
        <button onclick="scrollLefte()" class="scroll_left_button">
            <span class="button_imo">&larr;</span>
        </button>
    </div>
    <div class="scroll_right">
        <button onclick="scrollRight()" class="scroll_right_button">
            <span calss="button_imo">&rarr;</span>
        </button>
    </div>
    <div class="dair_spase" id="dair_spase">
{% include "includes/add_dair.html" %}
        {% for dair in dairs %} 
        {% if dair.dair_img %}
        <div class="dair_user">
            <img onclick="openModal('{{ dair.dair_img.url }}', 'image')" src="{{dair.profile_picture_dair.url}}" alt=""
                class="dair_user_profile" />
        </div>
        {% else %}
        <div class="dair_user">
            <img onclick="openModal('{{ dair.dair_video.url }} ', 'video')" src="{{dair.profile_picture_dair.url}}" alt=""
                class="dair_user_profile" />
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div id="modal_views_dair_img" class="modal_views_dair_img">
        <div class="views_dair_img">
            <span class="close_img_dair" onclick="closeModal1()">&times;</span>
            <div class="media_container">
                <img src="" class="modal_image_dair" id="modal_image_dair" alt="Dair Media" />
                <video src="" class="modal_video_dair" id="modal_video_dair" controls ></video>
            </div>
            <div class="bar"></div>
        </div>
    </div>
    
</div>