<link rel="stylesheet" href="t.css">
<section class="_ac0a">
  <div class="_ac0b"><button aria-label="Previous" class="_ac0c" tabindex="0">
      <div class="_9zm0"></div>
    </button>
    <div class="x6s0dn4 x78zum5 x5yr21d xl56j7k x6ikm8r x10wlt62 xh8yej3 x1lq5wgf xgqcy7u x30kzoy x9jhf4c">
      <div
        class="x1qjc9v5 x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1lliihq xk390pu xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 xzjhpmk"
        style="height: 607.266px; width: 341.587px;">
        <div style="height: 100%; position: relative; top: 0px;">
          <div class="x1lliihq x5yr21d x1n2onr6 xh8yej3 x1ja2u2z">
            <div class="x5yr21d x1n2onr6 xh8yej3">
              <div class="x5yr21d x1n2onr6 xh8yej3">
                <div class="x5yr21d x1uhb9sk xh8yej3"><video class="x1lliihq x5yr21d xh8yej3" playsinline=""
                    preload="none"
                    src="http://192.168.1.215:8888/media/dair_videos/323798378_1052452402622095_2397900507945039457_n.mp4"
                    style="display: block;"></video>
                  <div data-instancekey="id-vpuid-f394b88306e8ac">
                    <div class="x5yr21d x10l6tqk x13vifvy xh8yej3" data-visualcompletion="ignore">
                      <div class="x5yr21d xh8yej3">
                        <div class="_ac0x">
                          <div class="_ac0y" role="dialog"></div>
                          <div aria-label="Cancel popup" class="_ac57" role="button" tabindex="0"
                            style="height: 607.266px; width: 341.587px;">
                            <div class="_abwz"
                              style="height: 303.633px; left: 85.3967px; top: 151.816px; width: 170.793px;">
                              <div class="_abw-" role="button" tabindex="0" style="transform: rotate(0rad);"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="_aag2"></div>
    <header class="_ac0k">
      <div class="_ac3r">
        <div class="_ac3n">
          <div class="_ac3o"></div>
          <div class="_ac3p" style="width: 100%;"></div>
        </div>
        <div class="_ac3n">
          <div class="_ac3o"></div>
          <div class="_ac3p" style="width: 100%;"></div>
        </div>
        <div class="_ac3n">
          <div class="_ac3o"></div>
          <div class="_ac3p _ac3q" style="width: 41.3969%;"></div>
        </div>
      </div>
      <div
        class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1qughib">
        <div class="_ac0l">
          <div class="_ac0o">
            <div><a
                class="x1i10hfl x1qjc9v5 xjbqb8w xjqpnuy xa49m3k xqeqjp1 x2hbi6w x13fuv20 xu3j5b3 x1q0q8m5 x26u7qi x972fbf xcfux6l x1qhh985 xm0m39n x9f619 x1ypdohk x78zum5 xdl72j9 xdt5ytf x2lah0s xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x2lwn1j xeuugli xexx8yu x4uap5 x18d9i69 xkhd6sd x1n2onr6 x16tdsg8 x1hl2dhg xggy1nq x1ja2u2z x1t137rt xnz67gz x14yjl9h xudhj91 x18nykt9 xww2gxu x9f619 x1lliihq x2lah0s x6ikm8r x10wlt62 x1n2onr6 xzfakq x7imw91 x1j8hi7x x5aw536 x194ut8o x1vzenxt xd7ygy7 xt298gk xynf4tj xdspwft x1r9ni5o x1d52zm6 xoiy6we x15xhmf9 x1qj619r x15tem40 x1xrz1ek x1s928wv x1n449xj x2q1x1w x1j6awrg x162n7g1 x1m1drc7 x1ypdohk x4gyw5p _ac0p _a6hd"
                href="/rubaabuqaud90/" role="link" tabindex="0" style="height: 32px; width: 32px;"><img
                  alt="rubaabuqaud90's profile picture"
                  class="xpdipgo x972fbf xcfux6l x1qhh985 xm0m39n xk390pu x5yr21d xdj266r x11i5rnm xat24cr x1mh8g0r xl1xv1r xexx8yu x4uap5 x18d9i69 xkhd6sd x11njtxf xh8yej3"
                  crossorigin="anonymous" draggable="false"
                  src="https://instagram.famm9-1.fna.fbcdn.net/v/t51.2885-19/272867903_2052914814857861_5220155364046698365_n.jpg?stp=dst-jpg_s150x150&amp;_nc_ht=instagram.famm9-1.fna.fbcdn.net&amp;_nc_cat=105&amp;_nc_ohc=nDMwPgKDBMYAX9rOqfs&amp;edm=ANmP7GQBAAAA&amp;ccb=7-5&amp;oh=00_AfCRYaBnYIZ7fnDpkGgI9aw31SJOKvDwf68bGo_-6e59Wg&amp;oe=6546DF21&amp;_nc_sid=982cc7"></a>
            </div>
            <div
              class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1cy8zhl x1oa3qoh x1nhvcw1">
              <div
                class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x6s0dn4 x1oa3qoh x1nhvcw1">
                <div><a
                    class="x1i10hfl xjbqb8w x6umtig x1b1mbwd xaqea5y xav7gou x9f619 x1ypdohk xt0psk2 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r xexx8yu x4uap5 x18d9i69 xkhd6sd x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz notranslate _ac0s _a6hd"
                    href="/rubaabuqaud90/" role="link" tabindex="0">rubaabuqaud90</a></div>
                <div
                  class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1i64zmx x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
                  <time class="_ac0t" datetime="2023-10-31T21:51:27.000Z" title="Nov 1, 2023">1h</time>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="_ac0m">
          <div
            class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81"
            role="button" tabindex="0">
            <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k"><svg aria-label="Play" class="x1lliihq x1n2onr6 x9bdzbf"
                fill="currentColor" height="16" role="img" viewBox="0 0 24 24" width="16">
                <title>Play</title>
                <path
                  d="M5.888 22.5a3.46 3.46 0 0 1-1.721-.46l-.003-.002a3.451 3.451 0 0 1-1.72-2.982V4.943a3.445 3.445 0 0 1 5.163-2.987l12.226 7.059a3.444 3.444 0 0 1-.001 5.967l-12.22 7.056a3.462 3.462 0 0 1-1.724.462Z">
                </path>
              </svg></div>
          </div>
          <div aria-label="Toggle audio"
            class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81"
            role="button" tabindex="0">
            <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k"><svg aria-label="Audo is muted."
                class="x1lliihq x1n2onr6 x9bdzbf" fill="currentColor" height="16" role="img" viewBox="0 0 48 48"
                width="16">
                <title>Audo is muted.</title>
                <path clip-rule="evenodd"
                  d="M1.5 13.3c-.8 0-1.5.7-1.5 1.5v18.4c0 .8.7 1.5 1.5 1.5h8.7l12.9 12.9c.9.9 2.5.3 2.5-1v-9.8c0-.4-.2-.8-.4-1.1l-22-22c-.3-.3-.7-.4-1.1-.4h-.6zm46.8 31.4-5.5-5.5C44.9 36.6 48 31.4 48 24c0-11.4-7.2-17.4-7.2-17.4-.6-.6-1.6-.6-2.2 0L37.2 8c-.6.6-.6 1.6 0 2.2 0 0 5.7 5 5.7 13.8 0 5.4-2.1 9.3-3.8 11.6L35.5 32c1.1-1.7 2.3-4.4 2.3-8 0-6.8-4.1-10.3-4.1-10.3-.6-.6-1.6-.6-2.2 0l-1.4 1.4c-.6.6-.6 1.6 0 2.2 0 0 2.6 2 2.6 6.7 0 1.8-.4 3.2-.9 4.3L25.5 22V1.4c0-1.3-1.6-1.9-2.5-1L13.5 10 3.3-.3c-.6-.6-1.5-.6-2.1 0L-.2 1.1c-.6.6-.6 1.5 0 2.1L4 7.6l26.8 26.8 13.9 13.9c.6.6 1.5.6 2.1 0l1.4-1.4c.7-.6.7-1.6.1-2.2z"
                  fill-rule="evenodd"></path>
              </svg></div>
          </div>
          <div>
            <div
              class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81"
              role="button" tabindex="0">
              <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k"><svg aria-label="Menu" class="x1lliihq x1n2onr6 x9bdzbf"
                  fill="currentColor" height="24" role="img" viewBox="0 0 24 24" width="24">
                  <title>Menu</title>
                  <circle cx="12" cy="12" r="2.75"></circle>
                  <circle cx="19.5" cy="12" r="2.75"></circle>
                  <circle cx="4.5" cy="12" r="2.75"></circle>
                </svg></div>
            </div>
          </div>
        </div>
      </div>
    </header><button aria-label="Next" class="_ac0d">
      <div class=" _9zm2"></div>
    </button>
    <div class="_ac11">
      <div class="_ac12">
        <div
          class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh x1n2onr6 x1plvlek xryxfnj x1c4vz4f x2lah0s x1q0g3np xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
          <div class="_abx0 _abx1">
            <div
              class="x9f619 xjbqb8w x78zum5 x168nmei x13lgxp2 x5pf9jr xo71vjh xw3qccf x1n2onr6 x1plvlek xryxfnj x1iyjqo2 x2lwn1j xeuugli xdt5ytf xqjyukv x1qjc9v5 x1oa3qoh x1nhvcw1">
              <textarea class="_abx2" dir="" placeholder="Reply to rubaabuqaud90..."
                style="height: 18px !important;"></textarea>
            </div>
          </div>
          <div class="_abx4"><span>
              <div
                class="x1i10hfl x6umtig x1b1mbwd xaqea5y xav7gou x9f619 xe8uvvx xdj266r x11i5rnm xat24cr x1mh8g0r x16tdsg8 x1hl2dhg xggy1nq x1a2a7pz x6s0dn4 xjbqb8w x1ejq31n xd10rxx x1sy0etr x17r0tee x1ypdohk x78zum5 xl56j7k x1y1aw1k x1sxyh0 xwib8y2 xurb0ha xcdnw81"
                role="button" tabindex="0">
                <div class="x6s0dn4 x78zum5 xdt5ytf xl56j7k"><span class=""><svg aria-label="Like"
                      class="x1lliihq x1n2onr6 xq3z1fi" fill="currentColor" height="24" role="img" viewBox="0 0 24 24"
                      width="24">
                      <title>Like</title>
                      <path
                        d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                      </path>
                    </svg></span></div>
              </div>
            </span></div>
          <div class="_ac3h"><button class="_abl-" type="button">
              <div class="_abm0"><svg aria-label="Direct" class="x1lliihq x1n2onr6 xq3z1fi" fill="currentColor"
                  height="24" role="img" viewBox="0 0 24 24" width="24">
                  <title>Direct</title>
                  <line fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2" x1="22" x2="9.218"
                    y1="3" y2="10.083"></line>
                  <polygon fill="none" points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334"
                    stroke="currentColor" stroke-linejoin="round" stroke-width="2"></polygon>
                </svg></div>
            </button></div>
        </div>
      </div>
    </div>
  </div>
</section>