<div class="form_send_msg">
  <div class="send_msg">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input
        type="file"
        name="image"
        id="image"
        class="image"
        accept="input_img/"
      /> 
      <input
        type="text"
        class="text_msg"
        name="text_msg"
        id="text_msg"
        placeholder="Write a message"
      />
      <!-- حقل النص لاختيار Emoji -->

      <input
        type="submit"
        class="input_sub"
        value="Send"
        enctype="multipart/form-data"
        id="send_msg"
        name="send_msg"
      />
    </form>
    
  </div>
</div>
