<div class="chat_scan">
  <div class="spase_chat">
    {% for message in message %}
    <!-- بداية التكرار عبر الرسائل -->
    <div class="chat_info{% if message.created_by != username %}1{% else %}2{% endif %}">
      <!-- بداية العنصر (رسالة) مع تحديد فئة الـ 'chat_info' -->
      <div class="chat_sbase{% if message.created_by != username %}1{% else %}2{% endif %}">
        <!-- بداية القسم الذي يحتوي على اسم المستخدم -->
        <div class="user_name{% if message.created_by != username %}1{% else %}2{% endif %}">
          <!-- عرض اسم المستخدم -->
          <label>{{ message.created_by }}</label>
        </div>
        <!-- نهاية القسم الذي يحتوي على اسم المستخدم -->

        <!-- بداية القسم الذي يحتوي على المحتوى والصورة (إذا وجدت) -->
        <div class="chat_polder{% if message.created_by != username %}1{% else %}2{% endif %}">
          <!-- بداية القسم الذي يحتوي على الصورة (إذا وجدت) -->
          <div class="div_image">
            <div class="div_image_si">
              {% if message.image %}
              <!-- إذا كانت هناك صورة، عرضها -->
              <img src="{{ message.image.url }}" alt="" srcset="" />
              {% endif %}
            </div>
          </div>
          <!-- نهاية القسم الذي يحتوي على الصورة (إذا وجدت) -->

          <!-- بداية القسم الذي يحتوي على نص الرسالة -->
          <div class="chat_text{% if message.created_by != username %}1{% else %}2{% endif %}">
            <!-- عرض نص الرسالة -->
            <p>{{ message.msg }}</p>
          </div>
          <!-- نهاية القسم الذي يحتوي على نص الرسالة -->

          <!-- بداية القسم الذي يحتوي على تاريخ الرسالة (إذا وجد) -->
          {% if message.image or message.msg %}
          <div class="date_msg{% if message.created_by != username %}1{% else %}2{% endif %}">
            <!-- عرض تاريخ الرسالة -->
            <p>{{ message.created_dt }}</p>
          </div>
          {% endif %}
          <!-- نهاية القسم الذي يحتوي على تاريخ الرسالة (إذا وجد) -->
        </div>
        <!-- نهاية القسم الذي يحتوي على المحتوى والصورة (إذا وجدت) -->
      </div>
      <!-- نهاية العنصر (رسالة) مع تحديد فئة الـ 'chat_info' -->
    </div>
    <!-- نهاية التكرار عبر الرسائل -->
    {% endfor %}
  </div>
</div>
